@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rajdhani:wght@300&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
